body {
    background-color: hsl(229, 57%, 11%);
    background-image: url("images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    background-size: contain;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
}

@media (max-width:500px) {
    body {
        background-image: url("images/bg-mobile.png");
        background-size: cover;
    }
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.component {
    height: 150px;
    width: 650px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: auto;
    gap: 25px;
}

@media (max-width:500px) {
    .component {
        width: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.component-logo {
    height: 150px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 70px 10px 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 150px;
    margin-left: 30px;
}

.logo {
    width: 90px;
    margin-bottom: 15px;
}

.icon-style {
    width: 22px;
    height: 20px;
    background-color: hsl(229, 57%, 11%);
    padding: 8px;
    border-radius: 5px;
}

.component-info {
    height: 110px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.component-info p {
    font-size: .8em;
    align-self: flex-start;
    margin-bottom: 10px;
}

@media (max-width:500px) {
    .component-info p {
        align-self: center;
    }
}

.component-info b {
    font-weight: 700;
}

.progress-remaining {
    position: absolute;
    width: 120px;
    height: 60px;
    background-color: white;
    top: -40px;
    right: 30px;
    border-radius: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-remaining p {
    text-align: center;
    width: 100%;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    font-size: .7em;
}

.progress-remaining b {
    font-size: 2em;
    color: hsl(229, 57%, 11%);
}

.progress-remaining::after {
    content: "";
    bottom: -20px;
    right: 0;
    position: absolute;
    width: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-top-color: white;
}

@media (max-width:500px) {
    .progress-remaining{
        top: 80px;
        right: 120px;
        border-bottom-right-radius: 10px;
    }

    .progress-remaining::after{
        border: 0;
    }    
}


progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 340px;
    border-radius: 15px;
    background-color: hsl(229, 57%, 11%);
}

@media (max-width:500px) {
    progress[value] {
        width: 290px;
    }
}

progress[value]::-webkit-progress-bar {
    background-color: hsl(229, 57%, 11%);
    border-radius: 15px;

}

progress[value]::-moz-progress-bar {
    border-radius: 15px;
    background-image: radial-gradient(circle at calc(100% - 9px) center, white 6px, hsla(335, 100%, 65%, 0) 6px), linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

progress[value]::-webkit-progress-value {
    border-radius: 15px;
    background-image: radial-gradient(circle at calc(100% - 9px) center, white 6px, hsla(335, 100%, 65%, 0) 6px), linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.progress-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: .8em;
    font-weight: 700;
    margin-top: 5px;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}